#import_area {
	padding: 8px;
	width: 100%;
	margin: 20px 0;
}

#content {
	background: $whiteish_color;
	width: 100%;
	height: calc(100vh - 60px); // $header-height is not supported here
	overflow: hidden;
	display: flex;
	display: -webkit-flex; // For Safari

	#left_content, #right_content, #middle_content {
		display: inline-block;
		min-height: 100%;
		float: left;
		border-top: none;
		border-bottom: none;
	}

	h3 {
		padding-left: $padding-unit;
		padding-bottom: $padding-unit / 2;
		padding-top: $padding-unit;

		font-weight: bolder;
	}


	#middle_content {

		// temporary
		border-right: 1px solid $dark_color;
		// height: 100%;
		width: 30%;
		overflow: auto;

		input {
			width: 100%;
			border: none;
			padding: 8px;
			font-size: 12px;
			border-radius: 0px;

			&:focus {
				outline: none;
			}
		}

		input[ng-model='searchQuery'] {
			width: calc(100% - 16px);
		}

		h3 {
			color: $dark_color;
		}

		a {
			color: $url_blue;
		}

		table {
			text-align: left;
			width: 100%;
			border-top: none;

			p {
				padding: $padding-unit;
			}

			th {
				font-weight: bold;
				padding: $padding-unit;
			}

			tr:nth-child(even) {
				background: #f1f1f1;
			}

			.list_list-item td {
				padding: $padding-unit;

				&:hover {
					background: #ddd;
					padding-left: 2 * $padding-unit;
				}

				&:hover a {
					width: calc(100% - 21px);
				}

				&:hover input[type="checkbox"] {
					display: inline-block;
					visibility: visible;
					opacity: 1;
				}
			}

			td {
				transition: background 0.3s;
				transition: padding-left $timing-unit;
				transition-timing-function: ease-out;
				width: auto;

				input[type="checkbox"] {
					width: auto;
					display: none;
					opacity: 0;
					transition: opacity $timing-unit;
					transition-timing-function: ease;
					width: 16px;
					height: 16px;
					outline: 0;
					cursor: pointer;

					&:focus {
						outline: 0;
					}
				}

				.list_link {
					text-decoration: none;
					color: black;
					width: 100%;
					display: inline-block;
					padding: $padding-unit;
					margin: -$padding-unit;

					&:focus {
						outline: 0;
					}
				}
			}
		}

		#new_list, #import_list, #undo_delete, #practice_all {
			text-align: center;
			width: 100%;
			padding-bottom: 8px;
			padding-top: 8px;
			margin-bottom: 2px;
			background-color: $light_blue_color;
			color: $white_color;
			font-weight: bold;
			cursor: pointer;
			transition: background-color 0.3s;

			&:hover {
				background-color: #4FD0E3;
			}
		}

		#practice_all {
			margin-bottom: 0;
			display: none;
		}

		#undo_delete {
			display: none;
			background-color: $dark_color;

			&:hover {
				background-color: #555;
			}
		}
	}

	#right_content {
		display: none;
		width: calc(100% - 151px - 30%);
		border-right: none;
		overflow: auto;


		.word_list {
			display: none;

			table {
				text-align: left;
				width: 100%;
				border-top: none;

				th {
					font-weight: bold;
					padding: 10px;
					width: 50%;
				}

				tr {
				}

				td {
					padding: 10px;
				}

				tr:nth-child(even) {
					background: #f1f1f1;
				}
			}
		}

		#list_items {
			display: none;
		}

		#edit_list {
			display: none;

			input[type="text"], select {
				background-color: transparent;
				border-width: 0;
				border: none;
				width: 100%;
				padding: 5px;
				margin: -5px;
				font-weight: inherit;
				font-size: inherit;
			}
		}

		#results {
			display: none;
			margin: 8px;
			text-align: left;

			h1 {
				font-size: 20px;
				font-weight: bold;
				margin: 8px;
			}

			h3 {
				font-weight: bold;
				margin: 8.5px 0;
				padding-left: 0;
			}

			table {
				text-align: left;
				width: 90%;
				border: 1px solid #ddd;
				border-top: none;


				th {
					font-weight: bold;
					padding: 10px;
				}

				tr {
					border: 1px solid #ccc;
				}

				td {
					padding: 10px;
				}

				tr:nth-child(even) {
					background: #f1f1f1;
				}
			}

			#practice_incorrect {
				width: 90%;
				background-color: $light_blue_color;
				color: $whiteish_color;
				font-size: 16px;
				padding: $padding-unit;
				border: none;
				font-weight: bold;
				margin: .5*$padding-unit 0;
				text-align: center;
				transition: background-color ease $timing-unit;
				cursor: pointer;
				
				&:hover {
					background: #39D5ED;
				}
			}


			#results_bar {
				width: 90%;
				height: 30px;
				border: 1px solid #ddd;
				margin: 15px 0;
				text-align: left;

				#correct_bar, #incorrect_bar {
					display: inline-block;
					height: 50%;
					transition: background 0.2s;
					cursor: pointer;
				}

				#correct_bar {
					width: 80%;
					background: #3FA157;
					padding: 10px 0 10px 1%;

					&:hover {
						background: #3DD963;
					}
				}

				#incorrect_bar {
					width: 18%;
					background: #B52438;
					padding: 10px 1% 10px 0;
					text-align: right;

					&:hover {
						background: #E62C44;
					}
				}
			}
		}


		// TODO: Refactor this

		#practice_button, #save_button {
			width: calc(100% / 3);
			height: 50px;
			font-size: 25px;
			background: $light_blue_color;
			color: white;
			// border-radius: 5px;
			margin: 10px 0;
			box-sizing: border-box;
			border: none;
			outline: none;
			cursor: pointer;
			transition: background 0.3s;

			&:hover {
				background: #39D5ED;
			}
		}

		#edit_button, #add_rows {
			width: calc(100% / 3);
			height: 50px;
			font-size: 25px;
			background: $dark_blue_color;
			// border: 1px solid $dark_blue_color;
			border: none;
			color: white;
			box-sizing: border-box;
			// border-radius: 5px;
			margin: 0;
			outline: none;
			cursor: pointer;
			transition: background 0.3s;

			&:hover {
				background: #3298AB;
			}
		}

		#delete_button {
			width: calc(100% / 3);
			height: 50px;
			font-size: 25px;
			background: $dark_color;
			color: white;
			// border-radius: 5px;
			margin: 0;
			border: none;
			outline: none;
			cursor: pointer;
			transition: background 0.3s;

			&:hover {
				background: #25282E;
			}
		}
	}
}

