#profile_dialog {
	background-color: $white_color;
	display: block;
	top: $header-height;
	right: 0;
	border-left: 1px solid $dark_color;
	border-bottom: 1px solid $dark_color;
	z-index: 1000;
	position: fixed;
	width: 300px;
	
	h1 {
		font-family: inherit;
		font-weight: bold;
		font-style: inherit;
		font-size: 2em;
		padding: $padding-unit;
	}

	#options_bar {
		background-color: $whiteish_color;
		width: calc(100% - 16px);
		padding: $padding-unit;
		height: auto;

		select {
			display: inline-block;
			transition: background-color $timing-unit;
			width: 150px;
			height: 37px;
			padding: 8px;
			margin: -8px;
			border: none;
			background-color: transparent;
			border-radius: 0;
			cursor: pointer;

			&:hover {
				background-color: #ddd;
			}

			&:focus {
				outline: none;
			}
		}

		button {
			background-color: transparent;
			display: inline-block;
			transition: background-color $timing-unit;
			border-radius: 0;
			padding: 8px;
			margin: -8px;
			border: none;
			cursor: pointer;
			width: 150px;

			&:hover {
				background-color: #ddd;
			}

			&:focus {
				outline: none;
			}
		}

		button[name="logout"] {
			margin-left: 4px;
		}
	}
}