#content #left_content {

	background: $dark_blue_color repeat-y;
	margin: 0;
	width: 150px;
	color: $whiteish_color;

	overflow: auto;

	a {
		.user_list_item {

			height: $user_list_item_height;
			width: auto;
			outline: none;

			// vertical centering
			line-height: $user_list_item_height;
			vertical-align: center;

			padding-left: $padding-unit;
			&:hover {
				padding-left: $padding-unit * 2;
			}


			box-sizing: border-box;

			background-color: $dark_blue_color;

			transition: padding-left $timing-unit;
			transition-timing-function: ease-out;

			&:hover {
				// background-color: $light_blue_color;
				padding-left: $padding-unit * 2;

			}

			&.selected {
				background-color: $light_blue_color;
			}
		}



		// overwrite link defaults
		color: $white_color;
		text-decoration: none;

		&:visited {
			color: $white_color;
		}
	}

}
